@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
$primary: #2469ff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d0d0d;
    color: white;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    nav {
        ul{
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        li{
            list-style: none;
            padding: 10px;
            cursor: pointer;
            background-color: $primary;
            border-radius: 5px;
            color: #fff;
            border-color: #fff;
            border-width: 2px;
            border-style: solid;
        }
        li:hover{
                background-color: #fff;
                border-color: $primary;
                color: $primary;
        }
    }
        .navbar{
            justify-content: start;
            margin-top: 20px;
            font-size: 20px;
            li{
                margin-right: 60px;
                margin-left: 10px;
                background-color: #0d0d0d;
                border: none;
            }
            li:hover{

                background-color: #0d0d0d;
            }
        }}
}
a{
    text-decoration: none;
    color: $primary;
}
#icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-bottom: -5px;
}
.movies{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .card{
        max-width: 300px;
        margin:50px;
        min-height: 700px;
        background-color: #222222;
        .title{
            font-size: 22px;
            margin-bottom: 15px;
            padding: 5px;
        }
        .title:hover{
            color: white;
        }
        .desc{
            font-size: 18px;
            margin-bottom: 18px;
            padding: 10px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .desc:hover{
            color: white;
        }
        .vote{
            width: 100%;
            text-align: end;
        }
        .vote:hover{
            color: white;
        }
    }
}
.movie{
    display: flex;
    flex-wrap: nowrap;
    .info-div{
    padding-left: 40px;
    .title{
        margin-bottom: 30px;
        cursor: pointer;
        font-size: 36px;
        text-align: center;
    }
    .desc{
        margin-bottom: 45px;
        cursor: pointer;
        font-size: 24px;
        text-align: center;
    }
    .meta{
        font-size: 18px;
        margin-right: 10px;
        margin-bottom: 5px;
        text-align: end;
    }
    }
}

@media screen and (max-width:1100px){
    .movie{
        flex-wrap: wrap;
    }
    .img-div{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
}

#search{
    background-color: #0d0d0d;
    border: solid 1px $primary;
    color: #fff;
    margin-top: 15px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    border-right: none;
}
#search:focus{
    border: solid 1px $primary;
}
.search-btn{
    height: 25px;
    margin-left: -5px;
    border:solid 1px $primary;
    padding: 5px;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    border-left: none;
}
.genres{
    overflow-x: scroll;
    li{
        margin-right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 40px;
    }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}
.similar{
    display: flex;
    flex-wrap: wrap;
    div{
        margin-right: 50px;
        margin-top: 50px;
        height: 450px;
        span{
            margin-left: -290px;
            position: absolute;
            margin-top: 405px;
            color: #fff;
            font-weight: 600;
            word-wrap: break-word;
            max-width: 300px;
            font-size: 18px;
            background-color: black;
            padding: 5px;
        }
    }
    div:hover{
        span{
            color: $primary;
        }
}
}
.seemore{
    margin-top: 20px;
    margin-bottom: 20px;    
    cursor: pointer;
    color: white;
    font-size: 24px;
    text-align: center;
}

@media screen and (max-width:500px){
    body{
        .mobile{
            display: none;
        }
        #search{
            margin-left: -25px;
            width: 60%;
            height: 30px;
        }
        .search-btn{
            height: 30px;
        }
        #icon{
            width: 32px;
            height: 32px;
        }
        .movie .info-div .desc{
            margin-right: 10px;
        }
    }
}